body {
	background: black;
	color: black;
	font-family: monospace;
}

.guessbox {
	font-size: 5em;
	border-style: solid;
	border-width: 5px;
	border-color: #444;
	padding: 5px 20px;
	margin: 2px;
}

.row {
	margin: 30px;
}

.key {
	font-size: 1.5em;
	border-radius: 5px;
	background: #888;
	color: white;
	padding: 8px 10px;
}

.keysrow {
	margin: 25px;
}

#enter {
	font-size: 1.2em;
}
