:root {
	--background: black;
	--text: white;
	--yellow: #fcb500;
	--green: #8db008;
	--wrong: black;
	--unguessed: #777;
}

body {
	background: var(--background);
	color: var(--text);
	font-family: "Cutive Mono", monospace;
	margin: 0 0 0;
}

.titles {
	font-size: 2em;
	margin: 0 0 0;
}

ul, p {
	margin: 0 0 0;
	padding: 0 0 0 0;
}

.instructions {
	font-size: 1.8em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


.flex-container-col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.guessbox {
	color: var(--background);
	font-size: 6em;
	border-style: solid;
	border-width: 5px;
	border-color: #444;
	padding: 3px 20px;
	margin: 4px;
}

.visible {
	color: var(--text);
}

.row {
	margin: 30px;
	align: center;
}

.key {
	color: var(--text);
	font-size: 3em;
	border-radius: 5px;
	background: var(--unguessed);
	padding: 8px 15px;
	margin: 6px;
}

.clicked {
	background: var(--yellow);
}

.keysrow {
	margin: 25px;
}

.key-big {
	font-size: 2em;
	/* top right bottom left */
	padding: 18px 15px 12px 15px;
}

@keyframes fadeInAnimation {
	from { background: #000; }
}
@keyframes badword-animation {
	from { background: #800; }
}
@keyframes success-animation {
	0%  { background: #008; }
	20%  { background: var(--green); }
	40%  { background: #fff; }
	60%  { background: var(--green); }
	80%  { background: #800; }
	100% { background: #008; }
}

.wrong {
	background: var(--wrong);
	animation: fadeInAnimation 1s;
}
.correct-letter {
	background: var(--yellow);
	animation: fadeInAnimation 1s;
}
.correct-location {
	background: var(--green);
	animation: fadeInAnimation 1s;
}
.badword {
	animation: badword-animation 3s;
}

@keyframes cycleAnimation {
  0%   { background:#888; }
  20%  { background:#000; }
  40%  { background:#888; }
  60%  { background:#000; }
  80%  { background:#000; }
}
.selected {
	background: #888;
	animation: cycleAnimation 2s infinite;
}

.success {
	animation: success-animation 3s infinite;
}
